<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meow's in Need</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'forum/stylesheets/bootstrap.min.css'%}" media="all">
	<link rel="stylesheet" href="{% static 'forum/stylesheets/style2.css'%}" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var form = $("form");
			$("button").click(function(){
				form.toggle();
			})
		})
	</script>
</head>
<body>
	<header>
		<nav><a href="{%url 'forum:index'%}">Home</a><a href="">Cats in Need</a><a href="{%url 'forum:logout'%}">Log out</a></nav>
		<ul class="breadcrumb">
			<li><img src="{%static 'forum/pictures/home.png'%}" alt="home" id="firstImage"><a href="{%url 'forum:index'%}">Home</a></li>
			<li class="active">Forum</li>
		</ul>
	</header>
	<h2>{{request.session.forum}} Forum</h2>
	<button class="btn btn-primary">New Topic</button>
	<form action="{%url 'forum:createThread'%}" method="post">
		{%csrf_token%}
		<input id="threadTitle" type="text" name="thread" placeholder="Enter thread's name"><br>
		<textarea id="post" name="post" cols="50" rows="3" placeholder="Enter first post for new thread"></textarea>
		<input type="submit" value="Submit" class="btn btn-danger">
	</form>
	<table class="table table-hover">
		<tbody>
	{% if allThread %}
	{% for thread in allThread %}
		<tr class="thread">
			<td><img src="{%static 'forum/pictures/note3.png'%}" alt="icon"> 
				<a href="{%url 'forum:showThread' thread=thread.thread%}">{{thread.thread}}</a></td>
			<td><img src="{%static 'forum/pictures/discussion.png'%}" alt="forum icon">
				{{thread.post_set.all|length}}</td>
			<td>{{thread.creator.username}}</td>
		</tr>
	{% endfor %}
	{% endif %}
		</tbody>
	</table>
</body>
</html>
