<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meow's in Need</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'forum/stylesheets/bootstrap.min.css'%}" media="all">
</head>
<body>
	<div class="container-fluid">
		<header>
			<img src="{% static 'forum/pictures/catLogo.png'%}" alt="cat logo">
			<h2>Help My Cats</h2>
			<a href="{% url 'forum:logout' %}">Log out</a>
			<a href="{% url 'forum:index'%}">Return to Home Page</a>
		</header>
		<h4>Welcome to {{request.session.forum}} forum</h4>
		<form action="{% url 'forum:newThread' %}">
			<input type="submit" value="New Thread" class="btn btn-primary">
		</form>
		<table class="table table-hover">
			<thead>
				<tr class="success">
					<th>Thread</th>
					<th>Last Post</th>
					<th>Replies</th>
					<th>Views</th>
				</tr>
			</thead>
			<tbody>
				{% if allThread %}
				{% for thread in allThread %}
				<tr class="active">
					<td><a href="{%url 'forum:showThread' thread=thread.thread%}">{{thread.thread}}</a></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>

		</div>
</body>
</html>
