<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meow's in Need</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% load staticfiles %}
	<link rel="stylesheet" href="{%static 'forum/stylesheets/bootstrap.min.css'%}" media="all">
	<link rel="stylesheet" href="{% static 'forum/stylesheets/style.css'%}" media="all">
	<script>
		$(document).ready(function(){
			var form = $("form");
			$("button").click(function(){
				form.toggle();
			})
		})
	</script>
</head>
<body>
	<div class="container-fluid">
		<header>
			<img src="{% static 'forum/pictures/catLogo.png'%}" alt="cat logo">
			<h3><span id="meow">Meows</span><span id="inNeed">inNeed</span></h3>

			<a href="{% url 'forum:logout' %}">Log out</a>
		</header>
		<button class="btn btn-success">New Forum/Hide</button>
		<form action="{% url 'forum:newForum'%}" method="post">
			{%csrf_token%}
			<input id="forumTitle" type="text" name="forumTitle" placeholder="Enter forum name here">
			<textarea id="description" name="description" cols="60" rows="2" placeholder="Enter description here"></textarea>
			<input type="submit" value="create forum" class="btn btn-info">
		</form>
		<table class="table table-hover">
			<thead>
				<tr class="info">
					<th>Forum</th>
					<th>Last Post</th>
					<th>Threads</th>
					<th>Posts</th>
				</tr>
			</thead>
			<tbody>
				{% for forum in all %}
				<tr class="active">
					<td><a href="{% url 'forum:forum' forumName=forum.forum%}">{{forum.forum}}</a><br>
						{{forum.description}}
					</td>
					<td></td>
					<td>{{forum.thread_set.all|length}}</td>
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>
