<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meow's in Need</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% load staticfiles %}
	<link rel="stylesheet" href="{%static 'forum/stylesheets/bootstrap.min.css'%}" media="all">
	<link rel="stylesheet" href="{% static 'forum/stylesheets/style.css'%}" media="all">
	<script>
		$(document).ready(function(){
		})
	</script>
</head>
<body>
	<header>
		<img src="{%static 'forum/pictures/whitecat.jpg'%}" alt="whitecat" id="whitecat">
		<h2>Welcome to<br> Meows in Need Forum</h2>
		<nav><a href="">Home</a><a href="">Cats in Need</a><a href="">Log out</a></nav>
		<div class="breadcrumb">
			<img src="{%static 'forum/pictures/home.png'%}" alt="home"><a href="#">Forums</a>
		</div>
	</header>
	<div id="main">
		<div class="forum">
			<img src="{%static 'forum/pictures/heart.png'%}" alt="heart">
			<h3><a href="{%url 'forum:forum' forumName=health.forum%}">{{health.forum}}</a></h3>
			<p>{{health.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/food.png'%}" alt="food">
			<h3><a href="{%url 'forum:forum' forumName=nutrition.forum%}">{{nutrition.forum}}</a></h3>
			<p>{{nutrition.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/behavior.png'%}" alt="behavior">
			<h3><a href="{%url 'forum:forum' forumName=behavior.forum%}">{{behavior.forum}}</a></h3>
			<p>{{behavior.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/shower.png'%}" alt="shower">
			<h3><a href="{%url 'forum:forum' forumName=care.forum%}">{{care.forum}}</a></h3>
			<p>{{care.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/newcat.png'%}" alt="newcat">
			<h3><a href="{%url 'forum:forum' forumName=new.forum%}">{{new.forum}}</a></h3>
			<p>{{new.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/pregnant.png'%}" alt="pregnant cat">
			<h3><a href="{%url 'forum:forum' forumName=pregnant.forum%}">Pregnant Cats</a></h3>
			<p>{{pregnant.description}}</p>
		</div>
		<div class="forum">
			<img src="{%static 'forum/pictures/dog.png'%}" alt="dog">
			<h3><a href="{%url 'forum:forum' forumName=dog.forum%}">{{dog.forum}}</a></h3>
			<p>{{dog.description}}</p>
		</div>

	</div>
</body>
</html>
