<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meow's in Need</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body>
	<h1>hello world</h1>
	<h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var washington = {lat: 47.6080, lng: -122.335167};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: washington
        });
	 	{% for cat in allCat %}
		var newLocation = {lat:{{cat.obfuscated_latitude}},lng:{{cat.obfuscated_longitude}}}
        var marker = new google.maps.Marker({
          position: newLocation,
          map: map
        });
		{% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcRKE-1jDvARe0IoM_4FjziudMNijdMGc&callback=initMap">
    </script>

</body>
</html>
