*{
	padding:0;
	margin:0;
}
body{
	height:100%;
	width:100%;
	background-color:#54546B;
}
header{
	width:inherit;
	height:20%;
}
nav{
	width:100%;
	height:9%;
	padding:0.5%;
	background-color:#F5F5F5;
	opacity:0.7;
}
nav a{
	font-size:20px;
	margin-left:8%;
	font-family:sans-serif;
}
nav a:last-child{
	margin-left:55%;
}
.breadcrumb{
	width:100%;
	height:7%;
	opacity:0.7;
	border-top:2px solid white;

}
.breadcrumb li{
	display:inline;
	font-size:18px;
}
.breadcrumb li a, .breadcrumb li img{
	vertical-align:top;
}
.breadcrumb a{
	margin-left:0.5%;
}
.breadcrumb #firstImage{
	margin-left:7%;
}
h3{
	margin-left:10%;
	color:white;
	display:inline;
	font-weight:bold;
}
h3, button{
	vertical-align:top;
}
button{
	position:absolute;
	right:10%;
}
.table{
	margin-top:1%;
	width:80%;
	margin-left:10%;
	color:white;
	font-size:16px;
}
.table td:first-child{
	text-align:center;
	color:khaki;
}
span{
	font-size:12px;
}
form{
	margin-left:20%;
	margin-top:1%;
}
.btn-danger{
	vertical-align:bottom;
}
